body, .root, .App {
  height: 100dvh;
  width: 100vw;
}

.App {
  text-align: center;
  background-color: #2E3440;
  background: linear-gradient(109.6deg, rgb(40, 47, 62) 30.2%, #384560 60.1%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  color: #D8DEE9;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input[type="file"] {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
